.recipe-card {
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Helvetica, sans-serif;
}

.recipe-card h2 {
    color: #014a96;
    text-align: left;
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
}

.recipe-card ul, .recipe-card ol {
    padding-left: 20px;
}

.recipe-card ul li, .recipe-card ol li {
    margin-bottom: 5px;
}

.recipe-card p {
    font-weight: bold;
}

.home-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #0078d4;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.home-button:hover {
  background-color: #005fa3;
}

.gumbo-button {
    font-size: 16px;
    height: 10px;
    width: 20px;
    padding: 5px 5px;
    background-color: #b2b2b2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gumbo-button:hover {
  background-color: #005fa3;
}


<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
    }
    th {
        background-color: #014a96; /* Header color  text-align: left;*/
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f1f1f1; /* Alternating row colors */
    }
</style>

